<h2>My tasks</h2>
<% @tasks.each do |task| %>
  <p>Title:
    <%= link_to task.title, task_path(task) %>
    <%= link_to "Delete", task_path(task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
  </p>
<% end %>
<%= link_to "Add a new task", new_task_path %>
